

<script></script>
<h2>Test</h2>

<table id="table">
    <thead>
        <tr>
            <th>a</th>
            <th>b</th>
            <th>c</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>a</td>
            <td>b</td>
            <td>c</td>
        </tr>
        <tr>
            <td>a</td>
            <td>b</td>
            <td>c</td>
        </tr>
    </tbody>
</table>
<script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>-->
<script type="text/javascript" src="~/Scripts/datatables.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#table").DataTable();
    });
</script>