@using WebApplication4.Models;
<!DOCTYPE html>
<html>
<head>
    <title>Title of the document</title>
    <script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Accueil.js"></script>
</head>

<body>
    @{ List<Velo> listeVelos = Velo.getAllVelos();
        List<Categorie> listeCategorie = Categorie.GetAllCategories();}
    @Html.Action("Master", "Master")
    <div>
        @foreach (Categorie categorie in listeCategorie)
        {
            @Html.ActionLink(categorie.libelle, "ListeProduits", "ListeProduits", new {id = categorie.Id }, null) <br />
        }
    </div>
<table id="table">
    <thead>
        <tr>Nom</tr>
        <tr>Categorie</tr>
        <tr>Prix</tr>
    </thead>
    <tbody>
        <tr></tr>
    </tbody>
</table>
</body>

</html>