@using WebApplication4.Models;
<!DOCTYPE html>
<html>
<head>
    <title>Title of the document</title>
    @Styles.Render("~/Content/Site.css")
    <script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Accueil.js"></script>
</head>

<body>
    @{ List<Produit> listeVelos = Produit.getAllVelos();
        List<Categorie> listeCategorie = Categorie.GetAllCategories();}
    <div>
        Veuillez sélectionner une catégorie: <br/>
        @foreach (Categorie categorie in listeCategorie)
        {
            @Html.ActionLink(categorie.libelle, "ListeProduits", "ListeProduits", new {id = categorie.Id }, "a") <br />
        }
    </div>
    <div id="panier" class="cache">
        @Html.Partial(Url.Content("~/Views/Panier/Panier.cshtml"))
    </div>
    <button id="boutonPanier">Afficher mon panier</button>
</body>

</html>